# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\discoDocker\docker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
